<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- namespace:该mapper.xml映射文件的唯一标识 -->
<mapper namespace="org.lianxi.mapper.DataMapper">
    
    <insert id="addData" parameterType="data">
         insert into data (name,work) values(#{name},#{work})
    </insert>
    
    <select id="allDatas" resultType="data">
         select * from data
    </select>
    
</mapper>